<form #createUser="ngForm" (ngSubmit)="createUser.valid && onFormSubmit(newUser)">
  <div class="example-container boxForm">

    <mat-form-field>
      <input matInput placeholder="Prénom" type="text" name="firstname"
      [(ngModel)]="newUser.firstname" #firstnameRef="ngModel" required
      minlength="2" maxlength="100"/>
      <div mat-error *ngIf="firstnameRef?.errors?.required && createUser.submitted">
        Tu dois rentrer ton prénom</div>
      <div mat-error *ngIf="firstnameRef?.errors?.minlength && createUser.submitted">
        Détaille un peu plus</div>
      <div mat-error *ngIf="firstnameRef?.errors?.maxlength && createUser.submitted">
        C'est trop long (100 caractères maximum) </div>
    </mat-form-field><br>

    <mat-form-field>
      <input matInput placeholder="Nom" type="text" name="lastname"
      [(ngModel)]="newUser.lastname" #lastnameRef="ngModel" required
      minlength="2" maxlength="100"/>
      <div mat-error *ngIf="lastnameRef?.errors?.required && createUser.submitted">
        Tu dois rentrer ton nom</div>
      <div mat-error *ngIf="lastnameRef?.errors?.minlength && createUser.submitted">
        Détaille un peu plus</div>
      <div mat-error *ngIf="lastnameRef?.errors?.maxlength && createUser.submitted">
        C'est trop long (100 caractères maximum) </div>
    </mat-form-field>


    <div class="container">
      <button mat-flat-button (click)="onReset()">Reset</button><br>
      <button mat-flat-button (click)="onUpdateUser()" *ngIf="newUser.id">Modifier</button><br>
      <button mat-flat-button  *ngIf="!newUser.id">S'inscrire</button><br>

    </div>
  </div>
</form>
